.header {
    background-color: #0f5dcb;
    padding: 16px 16px;
    box-sizing: border-box;
    color: #fff;
    font-size: 12px;
    display: flex;
}
.logoContainer {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  font-size: 22px;
  font-weight: 600;
  flex: 1;
  white-space: nowrap;
}
.addressContainer {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
}
.chipBox {
  width: 200px;
  cursor: pointer;
}