.container {
  display: flex;
  flex: 1;
  width: 1000px;
  margin: 0 auto;
  box-sizing: border-box;
  transition: 0.5s all linear;
}
.box-container {
  padding: 12px 18px 18px 18px;
  position: relative;
  transition: 0.5s all linear;
}
.box-title {
  font-size: 14px;
  font-weight: 600;
  text-align: left;
  background-color: #fff;
  border-radius: 4px;
  padding: 8px 12px;
  position: absolute;
  top: -20px;
  display: inline-block;
}
.balance-big {
  font-size: 40px;
  font-weight: 400;
  color: #222;
}
.balance-icon {
  font-size: 20px;
  font-weight: 500;
  color: #222;
}
.btn-container {
  display: flex;
  gap: 4px;
  margin-top: 16px;
}
.walletBox {
  border: 2px solid #256dd3;
  transition: 0.5s all linear;
  background-color: #fff;
  border-radius: 8px;
  padding: 16px;
  margin: 10% auto 16px auto;
  width: 400px;
  box-sizing: border-box;
  color: #2c3e50;
  font-size: 12px;
}
.fieldset {
  border-radius: 4px;
  background-color: #efefef;
  padding: 15px 12px 12px;
  position: relative;
}
.field-label {
  font-weight: 600;
  font-size: 12px;
  position: absolute;
  background: #efefef;
  padding: 4px 12px;
  border-radius: 4px;
  top: -15px;
}
.field-value {
  font-size: 12px;
}
.info {
  font-size: 13px;
  font-weight: 400;
  margin: 0 0 16px 0;
  text-align: center;
}
.icon-overlap {
  position: absolute;
  right: 10px
}
.wallet-box {
  margin-top: 30%
}