.container {
  display: flex;
  flex: 1;
  width: 1000px;
  margin: 0 auto;
  box-sizing: border-box;
  transition: 0.5s all linear;
}
.box-container {
  padding: 12px 18px 18px 18px;
  position: relative;
  transition: 0.5s all linear;
}
.box-title {
  font-size: 14px;
  font-weight: 600;
  text-align: left;
  background-color: #fff;
  border-radius: 4px;
  padding: 8px 12px;
  position: absolute;
  top: -20px;
  display: inline-block;
}
.balance-big {
  font-size: 40px;
  font-weight: 400;
  color: #222;
}
.balance-icon {
  font-size: 20px;
  font-weight: 500;
  color: #222;
}
.btn-container {
  display: flex;
  gap: 4px;
  margin-top: 16px;
}
.walletBox {
  transition: 0.5s all linear;
  padding: 16px;
  width: 300px;
  box-sizing: border-box;
  color: #2c3e50;
  font-size: 12px;
}
.fieldset {
  border-radius: 4px;
  background-color: #efefef;
  padding: 15px 12px 12px;
  position: relative;
}
.field-label {
  font-weight: 600;
  font-size: 12px;
  position: absolute;
  background: #efefef;
  padding: 4px 12px;
  border-radius: 4px;
  top: -15px;
}
.field-value {
  font-size: 12px;
}
.info {
  font-size: 13px;
  font-weight: 400;
  margin: 0 0 16px 0;
  text-align: center;
}
.icon-overlap {
  position: absolute;
  right: 10px
}
.wallet-box {
  margin-top: 30%
}
.title-h1 {
  font-size: 50px;
  font-weight: 600;
  margin: 30px 0 20px 0;
  text-align: center;
}
.circle-list {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  gap: 48px
}
.circle-item {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.circle-icon {
  background: #0f5dcb;
  width: 85px;
  height: 85px;
  border-radius: 100px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.circle-icon svg {
  width: 40px;
  height: 40px;
}
.circle-label {
  font-size: 15px;
  font-weight: 600;
  margin-top: 12px;
}
.line {
  border: 0.5px solid #ececec;
}
.box {
  border: 1px solid #ececec;
  border-radius: 4px;
  padding: 6px;
  box-shadow: 1px 1px 1px #f8f8f8;
}
.crypto-list {
  display: flex;
  flex: 1;
}
.crypto-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 1
}
.crypto-icon {
  width: 30px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.circle-icon-disabled {
  background-color: #6c93cb;
  cursor: none;
}
.circle-icon-active {
  background-color: #1f7cff;
  box-shadow: 1px 1px 2px #939393;
}
.crypto-label {
  width: 100px;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: 600;
  padding-left: 4px;
}
.circle-label-disabled {
  color: #a6a6a6;
  cursor: none;
}
.circle-label-active {
  font-weight: 600;
}
.crypto-value {
  flex: 1;
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
}
.page-title {
  font-size: 19px;
  font-weight: 600;
  display: flex;
  flex: 1;
  justify-content: left;
  align-items: center;
  margin-bottom: 16px;
}
.app-login {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -90px;
  flex: 1
}

@media (max-width: 480px) {
  /* CSS styles specific to smaller mobile devices */
  .circle-icon {
    width: 35px;
    height: 35px;
  }
  .circle-icon svg {
    width: 23px;
    height: 23px;
  }
  .circle-label {
    font-size: 13px;
    font-weight: 400;
    margin-top: 4px;
  }
  .title-h1 {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 8px;
  }

}